     html {
         scroll-behavior: smooth;
     }
     
      body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
                        url("https://wallpapers.com/images/hd/cute-background-fx6hxl2gilulv6gz.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        h1 {
            text-align: left;
            padding: 30px;
            color: #b5838d;
        }

        .container {
            width: 85%;
            max-width: 800px;
            margin: auto;
        }

        .box {
            background: #ffffffcc;
            border-radius: 20px;
            padding: 25px;
            margin: 20px 0;
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
        }

        .box:hover {
            transform: translateY(-6px);
        }

        h2 {
            color: #ff8fab;
        }

        p {
            line-height: 1.6;
        }
        
        gallery-item {
            display: grid;
            aspect-ratio: 3/4;
            overflow: hidden;
            width: 100%;
            gap: 20px;
        }
        
        gallery-item:hover {
            transform: scale(1.05);
            transition: 0.3s;
        }
        
        img, video {
            width: 100%;
            height: 100%
            object-fit: cover;
            display: block;
            border-radius: 15px;
            margin: 15px auto;
            border: 4px solid #ffc8dd;
        }
        
        video {
            pointer: cursor;
        }

        ul {
            padding-left: 20px;
        }

        audio {
            width: 100%;
            margin-top: 10px;
        }

        .btn {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 18px;
            background: linear-gradient(45deg, #ffc8dd, #cdb4db);
            color: white;
            text-decoration: none;
            border-radius: 25px;
            font-weight: bold;
            transition: 0.3s;
        }

        .btn:hover {
            transform: scale(1.1);
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }
        
        .social-icons {
            text-align: center;
            padding: 30px;
            color: #b5838d;
            font-size: 30px;
        }
        
        .facebook, .insta, .mv{
    color: #b5838d;
    transition: color 0.2s;
}

.facebook:hover, .insta:hover, .mv:hover {
    color: #6f535d;
    text-decoration: underline;
}

        footer {
            text-align: center;
            padding: 15px;
            color: #b5838d;
            font-size: 14px;
        }
        
        .navbar {
            position: sticky;
            top: 0;
            background: transparent;
            backdrop-filter: blur(10px);
            padding: 15px;
            display: flex;
            justify-content: right;
            gap: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        .navbar a {
            text-decoration: none;
            color: #b5838d;
            font-weight: bold;
        }
        
        .navbar a:hover {
            color: #6f535d;
            text-decoration: underline;
        }
        
        #loader {
            position: fixed;
            inset: 0;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            opacity: 1;
            transition: opacity 0.6s ease;
        }
        
        .loader.fade {
            opacity: 0;
        }
        
        .loader-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
        .loader-name {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #6c63ff;
            letter-spacing: 2px;
            animation: fadeIn 1s ease;
        }
        
        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid #eee;
            border-top: 5px solid #6f535d;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            margin-top: 20px;
            align-items: center;
        }
        
        @keyframes spin {
            to { transform: rotate(360deg); }
        }
        
        #typing-text {
            font-size: 28px;
            color: #b5838d;
            margin-bottom: 25px;
            letter-spacing: 1px;
        }
        
        #loader.fade {
            opacity: 0;
        }
        
        @media (max-width: 768px) {
            .gallery-item {
                grid-template-columns: 1fr;
            }
            
            h1 {
                font-size: 22px;
            }
            
            nav {
                flex-direction: column;
                gap: 10px;
            }
        }